<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- home.component.html -->
    <app-layout>
        

      
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/Saved Pictures/DSC08890.JPG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../assets/Saved Pictures/DSC08896.JPG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../assets/Saved Pictures/DSC08898.JPG" class="d-block w-100" alt="...">
            </div>
             
            <div class="carousel-item">
              <img src="../../assets/Saved Pictures/DSC08898.JPG" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
              <img src="../../assets/Saved Pictures/DSC08898.JPG" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
              <img src="../../assets/Saved Pictures/DSC08903.JPG" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
              <img src="../../assets/Saved Pictures/DSC08955.JPG" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
              <img src="../../assets/Saved Pictures/DSC08965.JPG" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
              <img src="../../assets/Saved Pictures/DSC08968.JPG" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
              <img src="../../assets/Saved Pictures/DSC08977.JPG" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
              <img src="../../assets/Saved Pictures/DSC08981.JPG" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
              <img src="../../assets/Saved Pictures/DSC08986.JPG" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
              <img src="../../assets/Saved Pictures/DSC08993.JPG" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
              <img src="../../assets/Saved Pictures/DSC09073.JPG" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
              <img src="../../assets/Saved Pictures/herradura camiones portada.jpg" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
              <img src="../../assets/Saved Pictures/TajoHerradura.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

        
    </app-layout>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>
